{% extends "model-page.html" %}

{% block content %}

    <h2>Cadastro de Paciente</h2>

    <div class="container">
      <form action="submit" method="POST">{% csrf_token %}
          <input type="number" name="id_paciente" value="{{ paciente.id }}" hidden>
        <!-- CLINICA -->
          <div>
              <div>
                  <label>Clinica</label>
              </div>
              <div>
                  <input type="text" name="clinica" size="20" value="{{ paciente.clinica}}">
              </div>
          </div>
        <!-- TIPO -->
        <div>
            <div>
                <label>Tipo</label>
            </div>
            <div>
                <input type="text" name="tipo" size="20"  value="{{ paciente.tipo}}">
            </div>
        </div>

          <!-- DATA DE LANÇAMENTO -->
          <div>
              <div>
                  <label>Data de Lancamento</label>
              </div>
              <div>
                  <input type="datetime-local" name="data_lancamento"
                         value="{{ paciente.get_data_input_lancamento }}"
                         value="{{ paciente.get_data_lancamento }}">
              </div>
          </div>

        <!-- CPF -->
        <div>
          <div>
            <label>CPF</label>
          </div>
          <div>
            <input type="text" name="cpf" value="{{ paciente.cpf}}">
          </div>
          <!-- NOME DO PACIENTE-->
          <div>
            <label>Nome do Paciente</label>
          </div>
          <div>
            <input type="text" name="nome_paciente" value="{{ paciente.nome_paciente}}">
          </div>
        </div>

        <!-- CELULARES -->
        <div>
          <div>
            <label>Celular #1</label>
          </div>
          <div>
            <input type="text" name="celular_1" value="{{ paciente.celular_1}}">
          </div>
          <div>
            <label>Celular #2</label>
          </div>
          <div">
            <input type="text" name="celular_2" value="{{ paciente.celular_2}}">
          </div>
        </div>

        <div>
          <!-- TELEFONE FIXO -->
          <div>
            <label>Telafone Fixo</label>
          </div>
          <div>
            <input type="text" name="telefone" value="{{ paciente.telefone}}">
          </div>
          <div>
            <label>Ramal</label>
          </div>
          <div>
            <input type="text" name="ramal" value="{{ paciente.ramal}}">
          </div>
        </div>

        <!-- INDICAÇÃO MIDIA -->
        <div>
          <div>
            <label>Indicação Midia</label>
          </div>
          <div>
            <input type="text" name="indicacao_midia"value="{{ paciente.indicacao_midia}}">
          </div>
        </div>
          <!-- NOME INDICANTE -->
        <div>
          <div>
            <label>Nome Indicante</label>
          </div>
          <div>
            <input type="text" name="nome_indicante" value="{{ paciente.nome_indicante}}">
          </div>
          <div>
            <label>CPF Indicante</label>
          </div>
          <div>
            <input type="text" name="cpf_indicante" value="{{ paciente.cpf_indicante}}">
          </div>
        </div>

        <!-- DENTISTA -->
        <div>
          <div>
            <label>Dentista Nick</label>
          </div>
          <div>
            <input type="text" name="dentista_nick" value="{{ paciente.dentista_nick}}">
          </div>
        </div>

        <!-- ESPECIALIDADE -->
        <div>
          <div>
            <label>Especialidade</label>
          </div>
          <div>
            <input type="text" name="especialidade" value="{{ paciente.especialidade}}">
          </div>
        </div>





        <!-- TABELA -->
        <div>
          <div>
            <label>Tabela</label>
          </div>
          <div>
            <input type="text" name="tabela" value="{{ paciente.tabela}}">
          </div>
        </div>

        <!-- No CARTEIRA PLANO -->
        <div>
          <div>
            <label>No Carteira Plano</label>
          </div>
          <div>
            <input type="text" name="carteira_plano" size="10" value="{{ paciente.carteira_plano}}">
          </div>
        </div>

          <!-- BOTÕES -->
          <div>
              <br>
              <button type="submit">Salvar</button>
              <a href="/">
                  <button type="button">Cancelar</button>
              </a>

          </div>

      </form>

    </div>

{% endblock %}