{% extends "model-page.html" %}

{% block content %}
    <h2>Lista de Pacientes</h2>
    <a href="cadastro/">
        <button type="button">Novo Paciente</button>
    </a>

    <ul style="font-size: 20px">
        {% for paciente in pacientes %}
            <li>
                {{ paciente.cpf}} -
                {{ paciente.nome_paciente}} -
                {{ paciente.get_data_lancamento}}
                (  <a href="cadastro/?id={{paciente.id}}">Editar</a>
                 / <a href="cadastro/delete/{{ paciente.id}}/">Excluir</a>)
            </li>
        {% endfor %}
    </ul>
{% endblock %}

